<th:block th:fragment="navbar">
<nav class="global-nav">
    <div class="global-nav__container">
        <nav class="global-nav__account-nav">
            <th:block th:if="${session.loginMember eq null}">
                <a href="/user/login" class="button global-nav__account-nav-button">로그인</a>
            </th:block>
            <th:block th:unless="${session.loginMember eq null}">
                <a href="/user/logout" class="button global-nav__account-nav-button">로그아웃</a>
            </th:block>
        </nav>
        <ul class="global-nav-list">
            <th:block th:unless="${session.loginMember eq null}">
                <li class="global-nav-item">
                    <a href="/user/mypage" class="global-nav-link">
                        <img class="global-nav-link__icon" src="img/icon_user.svg"/>
                        <span class="global-nav-link__name">마이페이지</span>
                    </a>
                </li>
            </th:block>
            <li class="global-nav-item">
                <a href="/recommend/introduce" class="global-nav-link">
                    <img class="global-nav-link__icon" src="img/mysoul.png"/>
                    <span class="global-nav-link__name">인사말</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</th:block>